name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push:
    branches: main
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: stalomeow/metrics@4fca5f91c5432c68955ea66a8fa7c6a51f58644e # lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: Europe/Paris
          config_display: large
          repositories_skipped: eliecharra/iso2god-cli, eliecharra/infra

          plugin_languages: yes

          plugin_lines: yes

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_achievements: yes
          plugin_achievements_threshold: B      # Display achievements with rank B or higher
          plugin_achievements_secrets: yes      # Display unlocked secrets achievements
          plugin_achievements_display: compact  # Use compact display
          plugin_achievements_limit: 0          # Display all unlocked achievements (no limit)

          plugin_notable: yes

          plugin_sponsorships: yes

          plugin_reactions: yes

          plugin_followup: yes
          plugin_followup_sections: user
